.btn:focus,
.btn.focus {
  box-shadow: none;
}

.btn-space {
  margin-right: 10px !important;
}


.btn-primary {
  background-color: $primary !important;
  border: unset !important;
}


.btn-back {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 8px;
  ion-icon {
    font-size: 2rem;
    color: #ffffff;
  }
}