<nav class="navbar active header">
  <div class="container justify-content-center">
    <div
      class="navbar-header d-flex flex-wrap justify-content-center justify-content-md-between align-items-center w-100"
    >
      <h2 class="d-none d-md-block">Oupay Angular Test</h2>
      <search-bar></search-bar>

      <div class="d-flex justify-content-center logos">
        <img class="test-swing" src="assets/svg/test.svg" alt="" />
        <img src="assets/svg/angular.svg" alt="" />
      </div>
    </div>
  </div>
</nav>
